/*
CODE FROM https://ui.mantine.dev/category/hero/
*/

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-lg);
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
}

.content {
    max-width: rem(720px);
    margin-right: var(--mantine-spacing-xl);

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 0;
    }
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(32px);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}

.control {
    @media (max-width: $mantine-breakpoint-xs) {
        flex: 1;
    }
}

.codeDemoBlock {
    min-width: rem(320px);
    max-width: rem(640px);
    max-height: rem(740px);
    overflow: auto;
    font-size: rem(14px);
    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        max-height: 100%;
    }
}

.codeDemo {
    @media (max-width: $mantine-breakpoint-md) {
        margin-top: var(--mantine-spacing-lg);
        width: 100%;
    }
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-orange-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}