@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

::-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: transparent;
    overflow: visible;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: light-dark(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

.docItem h5 {
    font-weight: 500;
    font-size: 14px;
}

.docItem h4 {
    font-weight: 500;
    font-size: 16px;
}

.linkCardPrimary {
    cursor: pointer;
    transition:
            box-shadow 150ms ease,
            transform 100ms ease;
    &:hover {
        box-shadow: var(--mantine-shadow-md);
        transform: scale(1.05);
    }
}

.linkCardSecondary {
    cursor: pointer;
    transition: background-color 100ms ease;
    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9));
    }
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}